# Python / Django
venv/
__pycache__/
*.pyc
.env
db.sqlite3
staticfiles/

# React
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# OS / Editor
.DS_Store
.vscode/
git remote add origin https://github.com/Namankumar608x/portfolio.git
git push -u origin main
